################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Web/bower_components/cldr-data
/Domain
/.vs/ContactApp/v14
