@{
    ViewBag.Title = @Resources.Common.Home;
}

<div class="jumbotron">
    <h1>@Resources.Common.WebsiteName</h1>
    <img src="http://www.dioriospizza.com/assets/images/pizza.png" align="middle" alt="Pizza"/>
</div>

<div class="row">
    <div>
        <h1 align="center">@Resources.Common.News</h1>
    </div>
</div>